.column{
    background-color: rgb(1, 4, 9);
    border: 1px solid rgb(33, 38, 45);
    border-radius: 6px;
    width: 350px;
    height: 682px;
    &__name{
        display: flex;
        font-size: 16px;
        font-weight: bold;
        color: white;
        width: 348px;
        height: 73px;
        padding: 8px 16px;
        box-sizing: border-box;
    }
    &__card-stash{
        flex-grow: 1;
        overflow-y: auto;
        position: relative;
        height: 569px;
        border-radius: 6px;
    }
    &__new-card-button{
        background: transparent none;
        display: flex;
        border-radius: 6px;
        border-style: none;
        width: 348px;
        height: 38px;
        padding: 8px 16px;
        font-size: 14px;
        color: rgb(125, 133, 144);
        line-height: 20px;
        text-align: left;
     }

    &__new-card-button:hover{
        opacity: 60%;
        background-color: rgb(201, 209, 217);
    }
}