<div class="column"
     @drop="$emit('onDrop', store.state.cardId)"

     @dragover.prevent
     @dragenter.prevent>

  <h3 class="column__name">
    {{ column.columnName }}
  </h3>

  <div class="column__card-stash">

    <CardItem
      :cards="cards"
      v-for="card in props.cards.filter(card => card.columnId === column.id)"
      :key="card.id" :card="card"
      draggable="true"
      @dragstart="onDragStart($event, card)"

    ></CardItem>

  </div>

  <button class="column__new-card-button" @click="addCardButtonIsClicked">
    Добавить карточку
  </button>

</div>
