<div class="column"
     @drop="$emit('onDrop')"

     @dragover.prevent
     @dragenter.prevent>

  <h3 class="column__name">
    {{ column.columnName }}
  </h3>

  <div class="column__card-stash">

    <CardItem
      v-for="card in props.cards.filter(card => card.columnId === column.id)"
      :key="card.id" :card="card"
      draggable="true"
      @dragstart="onDragStart($event, card)"
      @deleteCard="deleteCardEmiter(store.state.cardOnDelete = card.id)"
      @editCard="editCardEmiter(store.state.cardOnEdit = card.id, store.state.columnIdOnEdit = card.columnId)">
    </CardItem>

  </div>

  <button class="column__new-card-button" @click="addCardButtonIsClicked">
    Добавить карточку
  </button>

</div>
