.card {
  background-color: rgb(22, 27, 34);
  min-width: 313px;
  width: 330px;
  min-height: 74px;
  border-radius: 6px;
  border-color: rgb(33, 38, 45);
  border-width: 1px;
  border-style: solid;
  margin-bottom: 8px;

  &__id {

  }

  &__name {

  }

  &__delete {
    padding: 16px;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    height: 32px;
    width: 70px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(240, 246, 252, 0.1);
  }

  &__edit {
    padding: 16px;
    display: flex;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    height: 32px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: orange;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(240, 246, 252, 0.1);
  }
}

.card:hover {
  border-color: rgb(48, 54, 61);
  border-width: 0.1px;
  cursor: grab;
}