.card{
    width: 330px;
    height: 74px;
    border-radius: 6px;
    border-color: rgb(33, 38, 45);
    border-width: 1px;
    border-style: solid;
    margin-bottom: 8px;
    &__id{

    }

    &__name{

    }

}